html{
    height: 100%;
    min-height: 100%:
}

* {
    box-sizing: border-box;
}

#navbar {
    margin:10px 20px 0px 20px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 96px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images menu sign-in";
    opacity:0.75;
}

a {
    text-decoration: none;
    color: rgb(32,32,32);
    font-family: arial, sans-serif;
    font-size: 13px;
    justify-self:center;
    align-self:center;
}

a:hover {
    text-decoration:underline;
}
#about{
    grid-area: about;
}
#store{
    grid-area: store;
}
#gmail{
    grid-area: gmail;
}
#images {
    grid-area: images;
}

#menu {
    grid-area: menu;
    height: 30px;
    width: 30px;
}

#menu svg {
    opacity: 0.7;
    height: 24px;
    width: 24px;
    color: #5f6368;
    margin: 3px;
}

#menu svg:hover {
    opacity: 1;
    box-sizing: border-box;
    fill: currentColor;
    overflow: hidden;
} 

#sign-in {
    grid-area: sign-in;
    justify-self:center;
    align-self:center;
    margin: 0 12px;
    padding: 9px 15px;
    min-width: 96px;
    background: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#sign-in:hover {
    background:rgb(26, 115, 232);
    opacity:0.7;
}

#main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 220px 70px 50px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". googletext .";
}

#logo {
    grid-area: logo;
    justify-self:center;
    align-self: end;
    padding-bottom: 30px;
}

#search {
    grid-area: search;
    height: 40px;
    align-self: top;
    width:100%;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    outline:none;
    justify-self: center;
}

input[type="text"]{
    padding: 0 20px 0 20px;
}

#search:hover{
    box-shadow: 1px 1px 5px grey;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

#search-btn {
    color: #3c4043;
    grid-area: search-btn;
    border:none;
    font-size: 13px;
    padding:10px 15px 10px 15px;
    margin-right: 5px;
    border-radius: 5%;
}

#search-btn:hover, #random-btn:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    cursor:pointer;
}
#random-btn {
    color: #3c4043;
    margin-left:5px;
    grid-area: random-btn;
    border:none;
    font-size: 13px;
    padding:10px 15px 10px 15px;
    border-radius: 5%;
}

#googletext {
    grid-area: googletext;
    font-family:arial, sans-serif;
    justify-self:center;
    margin-top:30px;
    font-size:13px;
}

#footer {
    position:absolute;
    bottom: 0;
    width:100%;
    display: grid;
    grid-template-columns: 100px 100px 150px 1fr 70px 70px 70px;
    grid-template-rows: 35px;
    grid-template-areas: " advertising business howsearchworks . privacy terms settings";
    background-color: #f2f2f2;
    border-top: 1px solid #c6c6c6;
    opacity: 0.8;
    padding: 6px;
}

#advertising{
    grid-area: advertising;
}
#howsearchworks{
    grid-area: howsearchworks;
}
#business{
    grid-area: business;
}
#privacy{
    grid-area: privacy;
}
#terms {
    grid-area: terms;
}
#settings {
    grid-area:settings;
}
